.container{
    width: 300;
    height: 200;
    overflow: hidden;
    margin: 0px 5px 10px 5px;
    cursor: pointer;
    &hover {
        transform: scale(1.05);
        transition: all 0.2sg;
    }
    
}